<!DOCTYPE html>{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>首页二</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'lib/layui-v2.5.5/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'lib/font-awesome-4.7.0/css/font-awesome.min.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'css/public.css' %}" media="all">
    <style>
        .layui-card {border:1px solid #f2f2f2;border-radius:5px;}
        .icon {margin-right:10px;color:#1aa094;}
        .icon-cray {color:#ffb800!important;}
        .icon-blue {color:#1e9fff!important;}
        .icon-tip {color:#ff5722!important;}
        .layuimini-qiuck-module {text-align:center;margin-top: 10px}
        .layuimini-qiuck-module a i {display:inline-block;width:100%;height:60px;line-height:60px;text-align:center;border-radius:2px;font-size:30px;background-color:#F8F8F8;color:#333;transition:all .3s;-webkit-transition:all .3s;}
        .layuimini-qiuck-module a cite {position:relative;top:2px;display:block;color:#666;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:14px;}
        .welcome-module {width:100%;height:210px;}
        .panel {background-color:#fff;border:1px solid transparent;border-radius:3px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}
        .panel-body {padding:10px}
        .panel-title {margin-top:0;margin-bottom:0;font-size:12px;color:inherit}
        .label {display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em;margin-top: .3em;}
        .layui-red {color:red}
        .main_btn > p {height:40px;}
        .layui-bg-number {background-color:#F8F8F8;}
        .layuimini-notice:hover {background:#f6f6f6;}
        .layuimini-notice {padding:7px 16px;clear:both;font-size:12px !important;cursor:pointer;position:relative;transition:background 0.2s ease-in-out;}
        .layuimini-notice-title,.layuimini-notice-label {
            padding-right: 70px !important;text-overflow:ellipsis!important;overflow:hidden!important;white-space:nowrap!important;}
        .layuimini-notice-title {line-height:28px;font-size:14px;}
        .layuimini-notice-extra {position:absolute;top:50%;margin-top:-8px;right:16px;display:inline-block;height:16px;color:#999;}
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <form class="layui-form" action="" id="chart1_form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">文件</label>
                            <div class="layui-input-block">
                                <select name="file_select" id="file_select" lay-filter="file_select">
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">区域</label>
                                <div class="layui-input-inline">
                                    <select name="zone_select" id="zone_select" lay-filter="zone_select">
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">国家</label></label>
                                <div class="layui-input-inline">
                                    <select name="country_select" id="country_select" lay-filter="country_select">
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">状态</label></label>
                                <div class="layui-input-inline">
                                    <select name="status_select" id="status_select" lay-filter="status_select">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">年度</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="start_date" id="start_date" lay-verify="start_date" placeholder="yyyy" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid">-</div>
                                <div class="layui-input-inline">
                                    <input type="text" name="end_date" id="end_date" lay-verify="end_date" placeholder="yyyy" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" pane="">
                            <label class="layui-form-label">类别</label>
                            <div class="layui-input-block" id="energy">
                                <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                                <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                                <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏" disabled="">
                            </div>
                        </div>
                        
                      </form>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <!-- <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>报表统计</div> -->
                    <div class="layui-card-body" id="echart_card">
                        <div id="echarts-records" style="width: 2000px;height:1000px"></div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<!--引入百度地图的jssdk，这里需要使用你在百度地图开发者平台申请的 ak-->
<script src="http://api.map.baidu.com/api?v=2.0&ak=t6FhPX8kta44hnWYUb9wN3sam3p2G6AG"></script>
<script src="{% static 'js/echarts.min.js'%}"></script>
<!-- 引入百度地图扩展 -->
<script src="{% static 'js/bmap.min.js'%}"></script>
<script src="{% static 'lib/layui-v2.5.5/layui.js'%}" charset="utf-8"></script>
<script src="{% static 'js/lay-config.js'%}?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['layer', 'miniTab','form','laydate'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate,
            miniTab = layui.miniTab;
            //echarts = layui.echarts;

        miniTab.listen();

        //日期
        laydate.render({
            elem: '#start_date',
            type: 'year'
        });
        laydate.render({
            elem: '#end_date',
            type: 'year'
        });

        //获取下拉文件数据
        $.getJSON("/myapp/api/file/select/c", function(json) {
            var data = json.data;
            $("#file_select").empty();
            $("#file_select").append($("<option>---请选择文件---</option>"));
            $.each(data, function( key,val ) {
                var tplInput=$("<option  value="+val.id+" data-fileUrl="+ val.file +">"+val.title+"</option>");
                $("#file_select").append(tplInput);
            });
            form.render()
        });

        function genSelect($dom,data,tip){
            $dom.empty();
            $dom.append($("<option>---"+tip+"---</option>"));
            $.each(data, function( key,val ) {
                var tplInput=$("<option  value="+val+">"+val+"</option>");
                $dom.append(tplInput);
            });
            form.render()
        }

        function genCheckBox($dom,data){
            $dom.empty();
            $.each(data, function( key,val ) {
                var tplInput=$("<input type='checkbox' name='like1["+val+"]' lay-skin='primary' title="+val+" checked='' />");
                $dom.append(tplInput);
            });
            form.render()
        }

        form.on('select(file_select)', function(da){
            var file_id = $(da.elem).find("option:selected").val();
            var file_url = $(da.elem).find("option:selected").data('fileUrl')
            $.getJSON("/myapp/api/chart1?file_id="+file_id, function(json) {
                genSelect($("#zone_select"),json.data.zones,'请选择区域')
                genSelect($("#country_select"),json.data.countries,'请选择国家')
                genSelect($("#status_select"),json.data.status,'请选择状态')
                genCheckBox($("#energy"),json.data.energys)
                data = json.data.data;
                geoCoordMap = json.data.geoCoordMap
                option.title.subtext = file_url
                option.series[0].data=convertData(data);
                echartsRecords.setOption(option);
            });
        });

        function submitForm(url,success,error){
            $.ajax({
                type: "POST",
                data: $("#chart1_form").serialize(),
                url: url,
                dataType:'json',
                success: success(data),
                error: error(data)
            });
        }

        form.on('select(zone_select)',function(da){
            var url = '/myapp/api/chart1';
        })
        /**
         * 报表功能
         */
        var echartsRecords = echarts.init(document.getElementById('echarts-records'), 'walden');
        var data = [];
        var geoCoordMap = {};
        var convertData = function (data) {
            var res = [];
            for (var i = 0; i < data.length; i++) {
                var geoCoord = geoCoordMap[data[i].name];
                if (geoCoord) {
                    res.push({
                        name: data[i].name,
                        value: geoCoord.concat(data[i].value[0].value)
                    });
                }
            }
            return res;
        };

        function renderItem(params, api) {
        var coords = [
            [116.7,39.53],
            [103.73,36.03],
            [112.91,27.87],
            [120.65,28.01],
            [119.57,39.95]
        ];
        var points = [];
        for (var i = 0; i < coords.length; i++) {
            points.push(api.coord(coords[i]));
        }
        var color = api.visual('color');

        return {
            type: 'polygon',
            shape: {
                points: echarts.graphic.clipPointsByRect(points, {
                    x: params.coordSys.x,
                    y: params.coordSys.y,
                    width: params.coordSys.width,
                    height: params.coordSys.height
                })
            },
            style: api.style({
                fill: color,
                stroke: echarts.color.lift(color)
            })
        };
    }

        option = {
            backgroundColor: 'transparent',
            title: {
                text: '数据统计',
                left: 'center',
                textStyle: {
                    color: '#fff'
                }
            },
            tooltip : {
                trigger: 'item',
                formatter: function(params, ticket, callback){
                    var toolTiphtml = ''
                    var point = new BMap.Point(params.data.value[0],params.data.value[1]);
                    gc.getLocation(point, function (rs) {//根据经纬度获取地址信息
                        var address = rs.address;
                        for(var i = 0;i<data.length;i++){
                            if(params.name==data[i].name){
                                toolTiphtml += address+':<br>'
                                for(var j = 0;j<data[i].value.length;j++){
                                    toolTiphtml+=data[i].value[j].name+': '+data[i].value[j].value+"<br>"
                                }
                                callback(ticket, toolTiphtml);
                            }
                        }
                    });
                    return 'loading';//内容还没返回时显示的内容
                }
            },
            bmap: {
                center: [104.114129, 37.550339],
                //mapType: 'china',
                zoom: 1,// 百度地图缩放等级，数字越大，放大越大，地图比例尺越小
                roam: true, // 是否开启拖拽缩放，可以只设置 'scale' 或者 'move' true
                mapStyle: {
                    styleJson: [
                        {
                            "featureType": "road",
                            "elementType": "all",
                            "stylers": {
                                "lightness": 20
                            }
                        }, {
                            "featureType": "highway",
                            "elementType": "geometry",
                            "stylers": {
                                "color": "#f49935"
                            }
                        }, {
                            "featureType": "railway",
                            "elementType": "all",
                            "stylers": {
                                "visibility": "off"
                            }
                        }, {
                            "featureType": "local",
                            "elementType": "labels",
                            "stylers": {
                                "visibility": "off"
                            }
                        }, {
                            "featureType": "water",
                            "elementType": "all",
                            "stylers": {
                                "color": "#d1e5ff"
                            }
                        }, {
                            "featureType": "poi",
                            "elementType": "labels",
                            "stylers": {
                                "visibility": "off"
                            }
                        }, {
                            "featureType": "land",
                            "elementType": "all",
                            "stylers": {
                                "color": "#cfe2f3ff",
                                "lightness": -50,
                                "saturation": -8
                            }
                        }, {
                            "featureType": "water",
                            "elementType": "all",
                            "stylers": {
                                "color": "#0b5394ff",
                                "weight": "8",
                                "lightness": 41,
                                "saturation": 13
                            }
                        }
                    ]
                }
            },
            series : [
                {
                    name: 'Net capacity',
                    //type: 'scatter',
                    type: 'effectScatter',
                    coordinateSystem: 'bmap',
                    data: convertData(data),
                    encode: {
                        value: 2
                    },
                    symbolSize: function (val) {
                        return val[2] / 100;
                    },
                    label: {
                        formatter: '{b}',
                        position: 'right',
                        fontSize :20
                    },
                    itemStyle: {
                        color: '#ddb926'
                    },
                    emphasis: {
                        label: {
                            show: true
                        }
                    }
                }
                // ,
                // {
                //     type: 'custom',
                //     coordinateSystem: 'bmap',
                //     renderItem: renderItem,
                //     itemStyle: {
                //         opacity: 0.5
                //     },
                //     animation: false,
                //     silent: true,
                //     data: [0],
                //     z: -10
                // }
            ]
        };
        
        echartsRecords.setOption(option);

        // 获取百度地图实例
        var bmap = echartsRecords.getModel().getComponent('bmap').getBMap();
        bmap.setMaxZoom(18)
        bmap.setMinZoom(1)
        //使用百度地图自带的控件
        //bmap.addControl(new BMap.MapTypeControl());
        var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
	    var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
        bmap.addControl(top_left_control)
        bmap.addControl(top_left_navigation)
        var gc = new BMap.Geocoder();
        
        // echarts 窗口缩放自适应
        //用于使chart自适应高度和宽度,通过窗体高宽计算容器高宽
        var resizeEchartContainer = function () {
            width = $("#echart_card").width();
            height = $("#echart_card").height();
            document.getElementById('echarts-records').style.width = width+'px';
            document.getElementById('echarts-records').style.height = height+'px';
        };
        window.onresize = function(){
            resizeEchartContainer(); 
            echartsRecords.resize();
        }
        resizeEchartContainer();
    });
</script>
</body>
</html>
